body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* styling per instructions */
.login {
  text-align: center;
  padding: 20px;
}

h3 {
  border: solid black;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
  text-align: center;
  margin: 10px auto;
}

button {
  margin: 10px;
}

input {
  margin: 3px;
}


